<ion-header>
  <ion-toolbar>
    <ion-title><h1>Lista de compras</h1></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-list [inset]="true">
    <ion-item *ngFor="let task of tasks">
      <ion-checkbox slot="start" [(ngModel)]="task.completed" ></ion-checkbox>
      <ion-input aria-label="Task name" [value]="task.name" [style.textDecoration]="task.completed ? 'line-through' : 'none'"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="addTask()">+</ion-button>

  
</ion-content>